@import "../../constants/constants.scss";

.appBar__container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: calc($layout-nav-height + 20px);
  width: 100%;

  z-index: 10;
}

.logo__link {
  display: block;
  padding: 6px;
  color: $color-primary;

  border: 3px solid currentColor;
  border-radius: 50%;
  transition: $transition;

  &:hover,
  &:focus {
    color: $color-accent;
  }
}

.logo__icon {
  display: block;
  width: 24px;
  height: 24px;
  fill: currentColor;
}
