@import "../../constants/constants.scss";

.projects__list {
  width: 304px;
  margin: auto;

  @media screen and (min-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(2, 360px);
    gap: 14px;
    width: 100%;
  }

  @media screen and (min-width: $desktop) {
    grid-template-columns: repeat(3, 360px);
    gap: 28px;
  }
}

.projects__list-item {
  padding-bottom: 1vmin;
  margin-bottom: $layout-unit;

  @media screen and (min-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(2, 360px);
    gap: 14px;
    margin-bottom: 0;
  }
}

.project__link {
  display: block;
  text-decoration: none;
  color: $color-primary;

  box-shadow: 2px 2px 20px rgba(255, 255, 255, 0.3);
  transition: $transition;

  &:hover {
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.5),
      0 0 5px rgba(255, 255, 255, 0.5);
    transform: scale(1.05);
    color: $color-accent;
  }
}

.project__image {
  display: block;
  width: 320px;
  height: 227px;

  @media screen and (min-width: $tablet) {
    width: 360px;
    height: 255px;
  }
}

.project__title {
  padding: 1vmin;
  font-size: 20px;
  font-family: $font-secondary;
  color: currentColor;
}

.project__description {
  margin-bottom: 1vmin;

  font-size: calc(10px + 1vmin);
  font-weight: 400;
  text-align: left;

  color: $color-primary;
}

.project__overlay-container {
  position: relative;
  overflow: hidden;
}

.project__overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  padding: 20px;

  background-color: rgba(31, 2, 2, 0.95);

  transform: translateY(100%);
  transition: $transition;

  .project__link:hover &,
  .project__link:focus & {
    transform: translateY(0);
  }
}
