$mobile: 320px;
$tablet: 768px;
$desktop: 1200px;

$layout-padding: 16px;
$layout-nav-height: 50px;

$color-primary: #ffffff;
$color-secondary: #111111;
$color-accent: #c90c0c;
$color-accent-dimmed: #7d0606;

$background-primary: #000000;
$background-secondary: #ffffff;
$background-body: #c2c2c2;

$font-primary: "Ubuntu", sans-serif;
$font-secondary: "Questrial", sans-serif;
$font-triadic: "Nunito Sans", sans-serif;

$shadow-body: 0px 0px 2px rgba(230, 230, 230, 0.2),
  50px 50px 100px rgba(17, 17, 17, 0.8);

$shadow-decor: 0 0 10px $color-accent-dimmed;

$transition: all 250ms ease-in;
