$mobile: 336px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1600px;

$layout-unit: 16px;
$layout-nav-height: 80px;

$color-primary: #ffffff;
$color-primary-translucent: rgba(255, 255, 255, 0.8);
$color-secondary: #111111;
$color-accent: #c90c0c;
$color-accent-dimmed: #580505;

$background-primary: #000000;
$background-secondary: #ffffff;
$background-triadic: rgba(31, 2, 2, 0.95);

$font-primary: 'Ubuntu', sans-serif;
$font-secondary: 'Questrial', sans-serif;
$font-triadic: 'Nunito Sans', sans-serif;

$shadow-decor: 0 0 10px $color-accent-dimmed;

$transition: all 250ms ease-in;

@mixin cssTransition($property) {
  transition-property: $property;
  transition-duration: 250ms;
  transition-timing-function: ease-out;
}
