$mobile: 320px;
$tablet: 768px;
$desktop: 1200px;

$color-primary: #ffffff;
$color-secondary: #111111;
$color-accent: #c90c0c;

$background-primary: #111111;
$background-secondary: #ffffff;
$background-body: #c2c2c2;

$shadow-body: 50px 50px 100px rgba(17, 17, 17, 0.7);
