@import '../../constants/constants.scss';

$card-width: 600px;
$card-height: 466px;

.contacts {
  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 90%;
    height: $card-height;
    padding: $layout-unit;

    background: linear-gradient(to bottom, #ffffff 40%, $color-secondary 40%);

    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);

    @media screen and (min-width: $tablet) {
      flex-direction: row;
      justify-content: flex-start;
      width: $card-width;
      height: fit-content;
      padding: calc($layout-unit * 3) $layout-unit;

      background: linear-gradient(to right, #ffffff 50%, $color-secondary 50%);
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 40%;

    color: $color-accent;

    @media screen and (min-width: $tablet) {
      width: calc($card-width / 2 - $layout-unit - 25px);
      height: fit-content;
    }

    &-logo {
      width: 80px;
      height: 80px;
      margin-bottom: $layout-unit;

      fill: currentColor;
    }

    &-name {
      margin-bottom: 4px;

      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;

      color: $color-secondary;
    }

    &-title {
      font-size: 16px;
      font-weight: 500;
      color: $color-secondary;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;

    @media screen and (min-width: $tablet) {
      height: fit-content;
      margin: 0;
    }
  }
}

.contact {
  display: flex;

  &:not(:last-of-type) {
    margin-bottom: $layout-unit;
  }

  &__link {
    display: flex;
    align-items: center;

    color: $color-primary;
    text-decoration: none;

    transition: $transition;

    &:hover,
    &:focus {
      color: $color-accent;
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;
    margin-right: $layout-unit;
    color: $color-secondary;

    background-color: $color-primary;
    border-radius: 50%;

    &-image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;

      fill: currentColor;

      transition: $transition;

      .contact__link:hover &,
      .contact__link:focus & {
        fill: $color-accent;
      }
    }
  }
}
