@import '../../constants/constants.scss';

.navbar {
  width: 100%;
  padding: $layout-unit 0;

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: calc($layout-unit * 5);
  }

  @media screen and (min-width: $desktop) {
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
  }

  &__menu-button {
    display: flex;
    align-items: center;
    padding: calc($layout-unit / 4);
    margin-left: auto;

    color: $color-primary;
    cursor: pointer;

    border: none;
    background-color: transparent;

    &:hover,
    &:focus {
      color: $color-accent;
    }

    @media screen and (min-width: $tablet) {
      display: none;
    }
  }

  &__menu-icon {
    width: 20px;
    height: 20px;

    fill: currentColor;
  }
}

.navigation {
  position: fixed;
  top: 0;
  right: -100%;

  width: 100vw;
  height: 100vh;
  padding: 16px;

  background-color: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(5px);

  z-index: 10;

  @include cssTransition(transform);

  @media screen and (max-width: calc($tablet - 1px)) {
    &.is-open {
      transform: translateX(-100%);
    }
  }

  @media screen and (min-width: $tablet) {
    position: static;
    justify-content: flex-end;
    width: fit-content;
    height: fit-content;
    padding: 0;

    background-color: transparent;
  }
}

.navLinks__list {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
  }

  &-item {
    padding: $layout-unit 0;

    @media screen and (min-width: $tablet) {
      padding: 0;
      &:not(:last-of-type) {
        margin-right: calc($layout-unit * 2);
      }
    }
  }
}

.navLink {
  position: relative;
  padding: $layout-unit 0;

  display: block;

  font-size: 14px;
  font-weight: 500;

  text-transform: uppercase;
  color: $color-primary;

  transition: $transition;

  &.active {
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 4px;

      content: '';

      background-color: $color-accent;
      transition: $transition;
    }
  }

  &:hover,
  &:focus {
    color: $color-accent;
  }
}
