.footer__container {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  min-height: 50px;

  z-index: 10;

  background-color: rgba(0, 0, 0, 0.9);
}

.footer__copyright {
  font-size: calc(8px + 0.5vmin);
}
