@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&family=Questrial&family=Ubuntu:wght@400;500;700&display=swap");
@import "../node_modules/modern-normalize/modern-normalize.css";
@import "./utilities/drop-styles.scss";
@import "./constants/constants.scss";

body {
  margin: 0;
  background-color: $background-primary;
  font-family: $font-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
